@import './common';

body {
  background-color: $white;
}

.app {
  text-align: center;
}

.header {
  font-size: 34pt;
  color: $dark-gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
  border-style: solid;
  border-color: $green;
  background-color: $white;
  padding: 8px 12px 8px 12px;
  margin: 12px;
  border-radius: 5px;
  color: $dark-gray;
  &:hover {
    background-color: $green;
  }
  &:focus {
    @extend .button;
    outline: none;
  }
}

#search-text {
  border-style: solid;
  border-color: $green;
  background-color: $white;
  padding: 8px 12px 8px 12px;
  margin: 12px 0 12px 12px;
  border-radius: 5px 0px 0px 5px;
  color: $dark-gray;
  &:focus {
    background-color: $green;
    outline: none;
  }
}

.search-btn {
  @extend .button;
  border-radius: 0 5px 5px 0;
  margin: 0 12px 12px 0;
  border-left-style: none;
}

.search-btn-fetching {
  @extend .search-btn;
  border-color: $dark-gray;
  background-color: $dark-gray;
  color: $light-gray;
}

.search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.one-result {
  width: 90%;
  @extend .button;
}